{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    
    
    <div class="container  m-5 align-self-center border rounded px-0">
        <div class="miheader2  pl-3 text-secondary"><h1 class="mb-3">Registro</h1></div>
        <div class="form  p-2">
            
                {{ form_start(registrationForm)}}
                <div class="d-flex justify-content-around">
                    <div >
                        <div class="form-group d-flex justify-content-around flex-column">
                            {{ form_row(registrationForm.email,{
                                label:'Email'
                            }) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            })}}
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group d-flex justify-content-around flex-column">
                            {{form_row(registrationForm.nombre,{
                                label:'Nombre  '
                            })}}
                            {{form_row(registrationForm.ap1,{
                                label:'Primer apellido'
                            })}}
                            {{form_row(registrationForm.ap2,{
                                label:'Segundo Apellido'
                            })}}
                            {{form_row(registrationForm.telefono)}}
                        </div>
                    </div>
                    <div >
                        <div class="form-group d-flex justify-content-around flex-column">
                            {{form_row(registrationForm.provincia)}}
                            {{form_row(registrationForm.localidad)}}
                            {{form_row(registrationForm.direccion)}}
                        </div>          
                    </div>
                    <divclass=" ml-1 form-group d-flex justify-content-around flex-column">
                        {% set admin %}
                            {{form_row(registrationForm.admin,{
                                label:'Administrador'
                            })}}
                        {% endset %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ admin }}
                        {% endif %}
                        {{form_row(registrationForm.foto)}}
                        <button type="submit" class="btn btn-warning ml-5 mt-5 btn-outline-primary btn-sm rounded miheader2 ">Registrarme</button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
        </div>
    </div>
    
{% endblock %}
