{{ form_start(form) }}
    <div class="container-fluid form row p-3">
        <div class="col-3">
            {{ form_row(form.codLoc,{
                label:'Código de la localidad'
            })}}
            
        </div>
        <div class="col-3">
            {{ form_row(form.nombre,{
                label:'Nombre'
            })}}
            
        </div>
        <div class="col-3 offset-3">
            {{ form_row(form.provincia,{
                label:'Provincia'
            })}}
            
        </div>
        <div class="d-flex justify-content-end mr-1">
            <button class="btn btnform2 rounded">{{ button_label|default('GUARDAR') }} <img class="interaccionesBackend rounded " src="{{asset('imgs/guardar.png')}}"></img></button>
        </div>
    </div>
    
{{ form_end(form) }}
