{% extends 'base.html.twig' %}

{% block title %}LOCALIDADES{% endblock %}

{% block body %}
<div class="container mb-5">
    <div class="container-fluid border p-0 miheader2 rounded shadow">
        <div class="encabezadoBack pl-3 text-dark mb-auto rounded">
            <h1>LOCALIDADES</h1>
        </div>
        <div class="m-1 p-3 ">
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {% for localidad in localidades %}
                    <tr>
                        <td>{{ localidad.id }}</td>
                        <td>{{ localidad.codLoc }}</td>
                        <td>{{ localidad.nombre }}</td>
                        <td>
                            <a href="{{ path('localidad_edit', {'id': localidad.id}) }}" CLASS="ml-5 ">EDITAR<img class="interaccionesBackend" src="{{asset('imgs/editar.png')}}"></img></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay registros en la base de datos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-3">
        <a class="ml-auto p-5" href="{{ path('localidad_new') }}">
            <h4 class="float-left m-0">AÑADIR<img class="interaccionesBackend m-o" src="{{asset('imgs/añadir.png')}}"></img></h4>
        </a>
    </div>
    <div class="navigation"> 
        {{ knp_pagination_render(localidades) }} 
    </div>
</div>
{% endblock %}
