{% extends 'base.html.twig' %}

{% block title %}PROVINCIAS{% endblock %}

{% block body %}
<div class="container mb-5">
    <div class="container-fluid border p-0 miheader2 rounded shadow">
        <div class="miheader pl-3 text-dark mb-auto rounded">
            <h1>PROVINCIAS</h1>
        </div>
        <div class="m-1 p-3 ">
            <table class="table table-striped bg-white">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {% for provincium in provincias %}
                    <tr>
                        <td>{{ provincium.id }}</td>
                        <td>{{ provincium.codProv }}</td>
                        <td>{{ provincium.nombre }}</td>
                        <td>
                            <a class="btn btnform2" href="{{ path('provincia_show', {'id': provincium.id}) }}">DATOS</a>
                            <a href="{{ path('provincia_edit', {'id': provincium.id}) }}"><img class="interaccionesBackend" src="{{asset('imgs/editar.png')}}"></img></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay registros en la base de datos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-3">
        <a class="ml-auto " href="{{ path('provincia_new') }}">
            <img class="interaccionesBackend" src="{{asset('imgs/añadir.png')}}"></img>
        </a>
    </div>
</div>
{% endblock %}

