
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="form-group row">
            <div class="col-3">
                {{ form_row(form.categoria,{
                    label:'Categoría'
                })}}
                
            </div>
            <div class="col-3 offset-1">
                {{ form_row(form.tipoProducto,{
                    label:'Tipo de producto'
                })}}
                
            </div>
            <div class="col-3 offset-1">
                {{ form_row(form.nombre,{
                    label:'Nombre'
                })}}
                
            </div>
        </div>
        <div class="formgroup row">
            <div class="col-5 offset-3">
                {{ form_row(form.descripcion,{
                    label:'Descripción detallada'
                })}}
                
            </div>
        </div>
        <div class="formgroup row">
            <div class="col-3 ">
                {{ form_row(form.stock,{
                    label:'Existencias del producto'
                })}}
                
            </div>
            <div class="col-3 ">
                {{ form_row(form.precio,{
                    label:'Precio'
                })}}
                
            </div>
            <div class=" col-6">
                <span class="btn btn-default btn-file">
                    {{ form_row(form.imgProductos,{
                        label:'Imágenes del producto',
                        id:"img"
                    })}}
                </span>
            </div>
        </div>  
        <div class="col-2 offset-10"><button class="btn btnform2 rounded">{{ button_label|default('GUARDAR') }}<img class="interaccionesBackend rounded " src="{{asset('imgs/guardar.png')}}"></img></button>
    </div>
    {{ form_end(form) }}


    
    

