
    {{ form_start(form) }}
    <div class="">
        <div class="form-group">
            <div class="">
                {{ form_row(form.categoria,{
                    label:'Categoría'
                })}}
                
            </div>
            <div class="">
                {{ form_row(form.tipoProducto,{
                    label:'Tipo de producto'
                })}}
                
            </div>
            <div class="">
                {{ form_row(form.nombre,{
                    label:'nombre'
                })}}
                
            </div>
        </div>
        <div class="formgroup">
            <div class="">
                {{ form_row(form.descripcion,{
                    label:'Descripción detallada'
                })}}
                
            </div>
            <div class="">
                {{ form_row(form.stock,{
                    label:'Existencias del producto'
                })}}
                
            </div>
            <div class="">
                {{ form_row(form.precio,{
                    label:'Precio'
                })}}
                
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <span class="btn btn-default btn-file">
                    {{ form_row(form.imgProductos,{
                        label:'Imágenes del producto'
                    })}}
                </span>
            </div>
            <button class=" btnform2 rounded">{{ button_label|default('GUARDAR') }}</button>
        </div>
    </div>
    

    {{ form_end(form) }}


    
    

