{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}



{% block body %}
<div class="container mb-5">
    <div class="container-fluid border p-0 miheader2 rounded shadow mb-5 pb-2">
        <div class="encabezadoBack pl-3 text-dark mb-auto rounded">
            <h1>PRODUCTOS</h1>
        </div>
        <div class="m-1 p-3 ">
            <table class="table table-striped bg-white">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ producto.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ producto.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{ producto.precio }}</td>
                    </tr>
                    <tr>
                        <th>Existencias</th>
                        <td>{{ producto.stock }}</td>
                    </tr>
                    <tr>
                        <th>Imágenes</th>
                        <td>
                            {% for  imgs in producto.imgProductos %}
                            <img src="{{imgs.img}}" width="150px" height="150px"  class="rounded img-fluid"/>
                            {% endfor %}
                        </td>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-around">
            <a href="{{ path('producto_edit', {'id': producto.id}) }}" class="btn btnform2 rounded">EDITAR<img class="interaccionesBackend" src="{{asset('/imgs/editar.png')}}"></img></a> 
            {{ include('producto/_delete_form.html.twig') }}
        </div>
    </div>
    <a href="{{ path('producto_index') }}"><h4>INICIO<img class="interaccionesBackend" src="{{asset('/imgs/volver.png')}}"></img></h4></a>
</div>
{% endblock %}
