{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}



{% block body %}
<div class="container">
    <h1 class="text-secondary bg-warning px-2">Producto</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ producto.stock }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>
                    {% for  imgs in producto.imgProductos %}
                    <img src="{{imgs.img}}" width="150px" height="150px"  class="rounded img-fluid"/>
                    {% endfor %}
                </td>
        </tbody>
    </table>
    <div class="form-group float-left">
        <a href="{{ path('producto_index') }}"><img class="interaccionesBackend" src="{{asset('/imgs/volver.png')}}"></img></a>
        <a href="{{ path('producto_edit', {'id': producto.id}) }}"><img class="interaccionesBackend" src="{{asset('/imgs/editar.png')}}"></img></a> 
    </div>
    {{ include('producto/_delete_form.html.twig') }}

</div>
{% endblock %}
