{{ form_start(form) }}
<div class="container-fluid form row p-3">
        <div class="col-3">
            {{ form_row(form.tipo,{
                label:'Tipo'
            })}}
        </div>
        <div class="col-3 offset-2">
            {{ form_row(form.icono,{
                label:'Icono'
            })}}
        </div>
</div>
<div class="d-flex justify-content-end">
    <button class="btn btnform2 rounded mr-2">{{ button_label|default('GUARDAR') }} <img class="interaccionesBackend rounded " src="{{asset('imgs/guardar.png')}}"></img></button>
</div> 
{{ form_end(form) }}
